<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <style>
        /* Custom CSS to make the container smaller */
        .custom-container {
            max-width: 400px; /* Adjust the width as needed */
            margin: auto;
            margin-top: 50px; /* Adjust the top margin as needed */
        }
    </style>
</head>
<body>
    <div class="container custom-container">
        <h1 class="text-center">OTP Verification</h1>
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
        <form th:action="@{/verifyOtp}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="form-group">
                <label for="otp">Enter OTP</label>
                <input type="text" class="form-control" id="otp" name="otp" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Verify OTP</button>
        </form>
    </div>

    <!-- SweetAlert JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   
</body>
</html>